@font-face {
    font-family: "saxmono";
    src: url(saxmono.ttf);
    format("truetype");
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: inherit;
}
.suburban, a.suburban:hover, a.suburban:active {
    color: rgba(241, 17, 228, 1);
}
.chimney_canopy, a.chimney_canopy:hover, a.chimney_canopy:active {
    color: rgba(239, 159, 110, 1);
}

html , body {
    background-color: rgba(26, 11, 32, 1);
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
div#wrapper {
    margin: 0px auto;
    width: 100%;
}
#holder {
    width: 100%;
}
#github-button, #steam-button, #tig-button {
    position: fixed;
    right: 15px;
    opacity: 0.3;
}
#github-button {
    top: 15px;
}
#steam-button {
    top: 100px;
}
#tig-button {
    top: 150px;
}
#github-button:hover, #steam-button:hover, #tig-button:hover {
    opacity: 0.8;
}
