@font-face {
    font-family: "saxmono";
    src: url(../assets/saxmono.ttf);
    format("truetype");
}
h1, h2, h3, h4, h5, h6, p {
    font-family: "saxmono", Courier, monospace;
    color: rgba(215, 207, 222, 1);
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: inherit;
}
.suburban, a.suburban:hover, a.suburban:active {
    color: rgba(239, 110, 231, 1);
}
.chimney_canopy, a.chimney_canopy:hover, a.chimney_canopy:active {
    color: rgba(239, 159, 110, 1);
}
.heavy_industrial, a.heavy_industrial:hover, a.heavy_industrial:active {
    color: rgba(150, 169, 201, 1);
}
.drainage_system, a.drainage_system:hover, a.drainage_system:active {
    color: rgba(110, 240, 168, 1);
}

html , body {
    background-color: rgba(14, 14, 14, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
div#wrapper {
    margin: 0px auto;
    width: 100%;
}
#holder {
    width: 100%;
}
#github-button, #steam-button, #tig-button {
    position: fixed;
    right: 15px;
    opacity: 0.3;
}
#github-button {
    top: 15px;
}
#steam-button {
    top: 100px;
}
#tig-button {
    top: 150px;
}
#github-button:hover, #steam-button:hover, #tig-button:hover {
    opacity: 0.8;
}
